{
  "openapi": "3.1.0",
  "info": {
    "title": "Onboarding merchants",
    "version": "1.1",
    "description": "Use the Onboarding API to perform complete merchant management.\n\n\n> #### Note\n> Merchant onboarding can be performed using the API or web portal. To learn about the registration flow on the portal, visit  [Platform](https://lighthouse.dock.tech/docs/your-backoffice/ZG9jOjIxNTU3OTg4-onboarding-merchants) documentation.\n\n<!-- theme: warning -->\n> #### Atention\n>\n> Register the merchant and then add the necessary documents for the KYC process.\n\nThe merchant onboarding flow begins with the sending of mandatory registration data. Once the merchant is created on our database, it will be necessary to send the mandatory documents for KYC analysis. To learn about the flow and mandatory documents, access the [Platform](https://lighthouse.dock.tech/docs/your-backoffice/ZG9jOjIxNTU3OTg4-onboarding-merchants) documentation.\n\nTo monitor the KYC status update, simply consult the merchant and consider the *riskAnalysisStatus* and *riskAnalysisStatusJustification* fields."
  },
  "servers": [
    {
      "url": "https://merchant.acquiring.hml.dock.tech",
      "description": "Sandox"
    },
    {
      "url": "https://merchant.acquiring.dock.tech",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/onboarding": {
      "post": {
        "operationId": "post-v1-onboarding",
        "summary": "Onboarding a Merchant",
        "description": "Endpoint used to include a merchant into the system. Before checking all the technical details of the Onboarding endpoint, we recommend that you read all the guidelines on this [page](https://developers.dock.tech/v1-acquiring/reference/onboarding-merchants-api).\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onboarding-request"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "name": "DOCK SOLUCOES",
                    "documentId": "08744817000186",
                    "corporateName": "DOCK SOLUCOES EM MEIOS DE PAGAMENTO S A",
                    "email": "dock@dock.tech",
                    "areaCode": "11",
                    "number": "991887452",
                    "phoneType": "C",
                    "timezone": "-0300",
                    "contacts": {
                      "name": "JOÃO DUARTE",
                      "documentId": "03695825310",
                      "email": "contact@dock.tech",
                      "areaCode": "11",
                      "number": "991887452",
                      "phoneType": "C",
                      "address": {
                        "streetAddress": "Rua da Carmo",
                        "streetNumber": "130",
                        "complement": "CJ 31",
                        "neighborhood": "CENTRO",
                        "city": "SÃO PAULO",
                        "state": "SP",
                        "country": "BRASIL",
                        "zipCode": "75709607"
                      },
                      "birthDate": "1991-11-04",
                      "mothersName": "MARIA DUARTE",
                      "isPartnerContact": true,
                      "isPep": true
                    },
                    "address": {
                      "streetAddress": "Rua da Carmo",
                      "streetNumber": "130",
                      "complement": "CJ 31",
                      "neighborhood": "CENTRO",
                      "city": "SÃO PAULO",
                      "state": "SP",
                      "country": "BRASIL",
                      "zipCode": "75709607"
                    },
                    "isMainOffice": false,
                    "mainOffice": {},
                    "category": {
                      "mcc": "8043",
                      "cnae": "4774-1/00"
                    },
                    "legalNature": {
                      "code": "213-5"
                    },
                    "merchantBankAccount": {
                      "documentId": "14556402000181",
                      "corporateName": "Dock Soluções LTDA",
                      "legalPerson": "JURIDICAL",
                      "bankBranchNumber": "0001",
                      "bankBranchCheckDigit": "1",
                      "accountNumber": "001230233",
                      "accountNumberCheckDigit": "1",
                      "accountType": "CHECKING",
                      "compeCode": "001"
                    },
                    "configuration": {
                      "url": "https://dock.tech/"
                    },
                    "merchantPrice": {
                      "name": "Tabela Padrão de Preço",
                      "tableType": "SIMPLE",
                      "anticipationType": "EVENTUAL",
                      "compulsoryAnticipationConfig": 1,
                      "eventualAnticipationFee": 1.75,
                      "cardPixMdr": "1.50",
                      "cardPixCeilingFee": "999.90",
                      "cardPixMinimumCostFee": "0.10",
                      "nonCardPixMdr": "2.0",
                      "nonCardPixCeilingFee": "999.90",
                      "nonCardPixMinimumCostFee": 0.15,
                      "listMerchantPriceGroup": [
                        {
                          "brand": "VISA",
                          "groupId": 10,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.5,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 2.1,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.1,
                              "nonCardCompulsoryAnticipationMdr": 6.5
                            }
                          ]
                        }
                      ]
                    },
                    "legalPerson": "JURIDICAL",
                    "openingDate": "2020-06-26",
                    "openingDays": "0111110",
                    "openingHour": "08:00",
                    "closingHour": "17:00",
                    "municipalRegistration": "0332569552",
                    "stateSubcription": "966325511225",
                    "hasTef": true,
                    "hasPix": true,
                    "hasTop": true,
                    "establishmentFormat": "LTDA",
                    "revenue": "50000.0"
                  }
                },
                "Antecipação Compúlsória": {
                  "value": {
                    "name": "EC CNPJ com Compulsória",
                    "documentId": "93337736000130",
                    "corporateName": "EC CNPJ com Compulsória LTDA",
                    "email": "user@example.com",
                    "areaCode": "11",
                    "number": "999999999",
                    "phoneType": "C",
                    "address": {
                      "streetAddress": "Avenida Tamboré",
                      "streetNumber": "267",
                      "complement": "Andar 22",
                      "neighborhood": "Alphaville",
                      "city": "BARUERI",
                      "state": "SP",
                      "country": "BR",
                      "zipCode": "06460-000"
                    },
                    "contacts": [
                      {
                        "name": "João da Silva",
                        "documentId": "22580321055",
                        "email": "user@example.com",
                        "areaCode": "11",
                        "number": "999999999",
                        "phoneType": "C",
                        "address": {
                          "streetAddress": "Avenida Tamboré",
                          "streetNumber": "267",
                          "complement": "Andar 22",
                          "neighborhood": "Alphaville",
                          "city": "BARUERI",
                          "state": "SP",
                          "country": "BR",
                          "zipCode": "06460-000"
                        },
                        "birthDate": "2005-03-04",
                        "mothersName": "Teste nome da Mãe",
                        "isPartnerContact": true,
                        "isPep": false,
                        "slugRole": "1E3F88516B0D45EEBA2A90AA178E0762"
                      }
                    ],
                    "timezone": "-0300",
                    "category": {
                      "mcc": "0763",
                      "cnae": "0111-3/01"
                    },
                    "legalNature": {
                      "code": "399-9"
                    },
                    "merchantBankAccount": {
                      "documentId": "93337736000130",
                      "corporateName": "EC CNPJ com Compulsória LTDA",
                      "legalPerson": "JURIDICAL",
                      "bankBranchNumber": "0001",
                      "bankBranchCheckDigit": "1",
                      "accountNumber": "12345",
                      "accountNumberCheckDigit": "6",
                      "accountType": "CHECKING",
                      "compeCode": "033"
                    },
                    "configuration": {
                      "url": "https://dock.tech/"
                    },
                    "merchantPrice": {
                      "name": "Tabela Teste Integração",
                      "tableType": "SIMPLE",
                      "anticipationType": "COMPULSORY",
                      "compulsoryAnticipationConfig": 1,
                      "cardPixMdr": 6,
                      "cardPixCeilingFee": 999.99,
                      "cardPixMinimumCostFee": 5,
                      "nonCardPixMdr": 6,
                      "nonCardPixCeilingFee": 999.99,
                      "nonCardPixMinimumCostFee": 5,
                      "listMerchantPriceGroup": [
                        {
                          "brand": "ELO",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 4,
                              "installmentTransactionFeeEnd": 4,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 6.66,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.3,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.15,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "VOUCHER",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 3.91,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4.38,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 1.7,
                              "nonCardCompulsoryAnticipationMdr": 1.7
                            },
                            {
                              "installmentTransactionFeeStart": 3,
                              "installmentTransactionFeeEnd": 3,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 5.83,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.3,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 3.32,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.69,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 1.69,
                              "productType": "DEBIT",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 12,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 15.5,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 15.97,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 10.74,
                              "nonCardCompulsoryAnticipationMdr": 10.74
                            },
                            {
                              "installmentTransactionFeeStart": 10,
                              "installmentTransactionFeeEnd": 10,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.85,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 14.32,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.09,
                              "nonCardCompulsoryAnticipationMdr": 9.09
                            },
                            {
                              "installmentTransactionFeeStart": 2,
                              "installmentTransactionFeeEnd": 2,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 5,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 5.19,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 2.49,
                              "nonCardCompulsoryAnticipationMdr": 2.21
                            },
                            {
                              "installmentTransactionFeeStart": 5,
                              "installmentTransactionFeeEnd": 5,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 7.49,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 7.96,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.98,
                              "nonCardCompulsoryAnticipationMdr": 4.98
                            },
                            {
                              "installmentTransactionFeeStart": 11,
                              "installmentTransactionFeeEnd": 11,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 14.67,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 15.14,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.91,
                              "nonCardCompulsoryAnticipationMdr": 9.91
                            },
                            {
                              "installmentTransactionFeeStart": 6,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 8.32,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.79,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.81,
                              "nonCardCompulsoryAnticipationMdr": 5.81
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 2.21,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 2.68,
                              "productType": "PREPAID",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 7,
                              "installmentTransactionFeeEnd": 7,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.37,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.84,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 6.61,
                              "nonCardCompulsoryAnticipationMdr": 6.61
                            },
                            {
                              "installmentTransactionFeeStart": 8,
                              "installmentTransactionFeeEnd": 8,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 12.19,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 12.66,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 7.43,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 9,
                              "installmentTransactionFeeEnd": 9,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.02,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.49,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 8.26,
                              "nonCardCompulsoryAnticipationMdr": 8.26
                            }
                          ]
                        },
                        {
                          "brand": "HIPERCARD",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4.92,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4.49,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 1.7,
                              "nonCardCompulsoryAnticipationMdr": 1.7
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.69,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 1.69,
                              "productType": "DEBIT",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 8,
                              "installmentTransactionFeeEnd": 8,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.8,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.37,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 7.43,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 3,
                              "installmentTransactionFeeEnd": 3,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 7.39,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.96,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 3.32,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 9,
                              "installmentTransactionFeeEnd": 9,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 12.63,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.37,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 8.26,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 10,
                              "installmentTransactionFeeEnd": 10,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.46,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.03,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.09,
                              "nonCardCompulsoryAnticipationMdr": 9.09
                            },
                            {
                              "installmentTransactionFeeStart": 6,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.88,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 9.45,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.81,
                              "nonCardCompulsoryAnticipationMdr": 5.81
                            },
                            {
                              "installmentTransactionFeeStart": 4,
                              "installmentTransactionFeeEnd": 4,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 8.22,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.96,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.15,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 7,
                              "installmentTransactionFeeEnd": 7,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 10.98,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.55,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 6.61,
                              "nonCardCompulsoryAnticipationMdr": 6.61
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 3.22,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 3.22,
                              "productType": "PREPAID",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 12,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 15.11,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 14.68,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 10.74,
                              "nonCardCompulsoryAnticipationMdr": 10.74
                            },
                            {
                              "installmentTransactionFeeStart": 5,
                              "installmentTransactionFeeEnd": 5,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.05,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.62,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.98,
                              "nonCardCompulsoryAnticipationMdr": 4.98
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "VOUCHER",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 11,
                              "installmentTransactionFeeEnd": 11,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 14.28,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.85,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.91,
                              "nonCardCompulsoryAnticipationMdr": 9.91
                            },
                            {
                              "installmentTransactionFeeStart": 2,
                              "installmentTransactionFeeEnd": 2,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 6.56,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.13,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 2.49,
                              "nonCardCompulsoryAnticipationMdr": 2.49
                            }
                          ]
                        },
                        {
                          "brand": "MASTERCARD",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 6,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 8.22,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.84,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.81,
                              "nonCardCompulsoryAnticipationMdr": 5.81
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.69,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 1.69,
                              "productType": "DEBIT",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 10,
                              "installmentTransactionFeeEnd": 10,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.92,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 12.54,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.09,
                              "nonCardCompulsoryAnticipationMdr": 9.09
                            },
                            {
                              "installmentTransactionFeeStart": 7,
                              "installmentTransactionFeeEnd": 7,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.44,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.06,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 6.61,
                              "nonCardCompulsoryAnticipationMdr": 6.61
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "VOUCHER",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.89,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 2.51,
                              "productType": "PREPAID",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 9,
                              "installmentTransactionFeeEnd": 9,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.09,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.71,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 8.26,
                              "nonCardCompulsoryAnticipationMdr": 8.26
                            },
                            {
                              "installmentTransactionFeeStart": 4,
                              "installmentTransactionFeeEnd": 4,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 6.56,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 7.18,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.15,
                              "nonCardCompulsoryAnticipationMdr": 4.15
                            },
                            {
                              "installmentTransactionFeeStart": 11,
                              "installmentTransactionFeeEnd": 11,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 12.74,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.36,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.91,
                              "nonCardCompulsoryAnticipationMdr": 9.91
                            },
                            {
                              "installmentTransactionFeeStart": 12,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.57,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 14.19,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 10.74,
                              "nonCardCompulsoryAnticipationMdr": 10.74
                            },
                            {
                              "installmentTransactionFeeStart": 3,
                              "installmentTransactionFeeEnd": 3,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 5.73,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.35,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 3.32,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 8,
                              "installmentTransactionFeeEnd": 8,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 10.26,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.88,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 7.43,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 2,
                              "installmentTransactionFeeEnd": 2,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4.9,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 5.52,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 2.49,
                              "nonCardCompulsoryAnticipationMdr": 2.49
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 3.59,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4.21,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 1.7,
                              "nonCardCompulsoryAnticipationMdr": 1.7
                            },
                            {
                              "installmentTransactionFeeStart": 5,
                              "installmentTransactionFeeEnd": 5,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 7.39,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.01,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.98,
                              "nonCardCompulsoryAnticipationMdr": 4.98
                            }
                          ]
                        },
                        {
                          "brand": "VISA",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "VOUCHER",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 11,
                              "installmentTransactionFeeEnd": 11,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 12.74,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.36,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.91,
                              "nonCardCompulsoryAnticipationMdr": 9.91
                            },
                            {
                              "installmentTransactionFeeStart": 10,
                              "installmentTransactionFeeEnd": 10,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.92,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 12.54,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.09,
                              "nonCardCompulsoryAnticipationMdr": 9.09
                            },
                            {
                              "installmentTransactionFeeStart": 9,
                              "installmentTransactionFeeEnd": 9,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.09,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.71,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 8.26,
                              "nonCardCompulsoryAnticipationMdr": 8.26
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.89,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 2.51,
                              "productType": "PREPAID",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 4,
                              "installmentTransactionFeeEnd": 4,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 6.56,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 7.18,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.15,
                              "nonCardCompulsoryAnticipationMdr": 4.15
                            },
                            {
                              "installmentTransactionFeeStart": 5,
                              "installmentTransactionFeeEnd": 5,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 7.39,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.01,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.98,
                              "nonCardCompulsoryAnticipationMdr": 4.98
                            },
                            {
                              "installmentTransactionFeeStart": 6,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 8.22,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.84,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.81,
                              "nonCardCompulsoryAnticipationMdr": 5.81
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.69,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 1.69,
                              "productType": "DEBIT",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 3,
                              "installmentTransactionFeeEnd": 3,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 5.73,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.35,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 3.32,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 12,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.57,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 14.19,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 10.74,
                              "nonCardCompulsoryAnticipationMdr": 10.74
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 3.59,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4.21,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 1.7,
                              "nonCardCompulsoryAnticipationMdr": 1.7
                            },
                            {
                              "installmentTransactionFeeStart": 8,
                              "installmentTransactionFeeEnd": 8,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 10.26,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.88,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 7.43,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 2,
                              "installmentTransactionFeeEnd": 2,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4.9,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 5.52,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 2.49,
                              "nonCardCompulsoryAnticipationMdr": 2.49
                            },
                            {
                              "installmentTransactionFeeStart": 7,
                              "installmentTransactionFeeEnd": 7,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.44,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.06,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 6.61,
                              "nonCardCompulsoryAnticipationMdr": 6.61
                            }
                          ]
                        },
                        {
                          "brand": "AMEX",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 5,
                              "installmentTransactionFeeEnd": 5,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.25,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.82,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.98,
                              "nonCardCompulsoryAnticipationMdr": 4.98
                            },
                            {
                              "installmentTransactionFeeStart": 4,
                              "installmentTransactionFeeEnd": 4,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 8.42,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 7.99,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.15,
                              "nonCardCompulsoryAnticipationMdr": 4.15
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 5.77,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 5.34,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 1.7,
                              "nonCardCompulsoryAnticipationMdr": 1.7
                            },
                            {
                              "installmentTransactionFeeStart": 12,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 15.16,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 14.73,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 10.74,
                              "nonCardCompulsoryAnticipationMdr": 10.74
                            },
                            {
                              "installmentTransactionFeeStart": 10,
                              "installmentTransactionFeeEnd": 10,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.51,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.08,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.09,
                              "nonCardCompulsoryAnticipationMdr": 9.09
                            },
                            {
                              "installmentTransactionFeeStart": 6,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 10.08,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 9.65,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.81,
                              "nonCardCompulsoryAnticipationMdr": 5.81
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "VOUCHER",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 9,
                              "installmentTransactionFeeEnd": 9,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 12.68,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 12.25,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 8.26,
                              "nonCardCompulsoryAnticipationMdr": 8.26
                            },
                            {
                              "installmentTransactionFeeStart": 11,
                              "installmentTransactionFeeEnd": 11,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 14.33,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.9,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.91,
                              "nonCardCompulsoryAnticipationMdr": 9.91
                            },
                            {
                              "installmentTransactionFeeStart": 2,
                              "installmentTransactionFeeEnd": 2,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 6.76,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.33,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 2.49,
                              "nonCardCompulsoryAnticipationMdr": 2.49
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4.07,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4.07,
                              "productType": "PREPAID",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "DEBIT",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 3,
                              "installmentTransactionFeeEnd": 3,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 7.59,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 7.16,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 3.32,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 7,
                              "installmentTransactionFeeEnd": 7,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.03,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.6,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 6.61,
                              "nonCardCompulsoryAnticipationMdr": 6.61
                            },
                            {
                              "installmentTransactionFeeStart": 8,
                              "installmentTransactionFeeEnd": 8,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.85,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.42,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 7.43,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            }
                          ]
                        },
                        {
                          "brand": "CABAL",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 10,
                              "installmentTransactionFeeEnd": 10,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 13.46,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.03,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.09,
                              "nonCardCompulsoryAnticipationMdr": 9.09
                            },
                            {
                              "installmentTransactionFeeStart": 12,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 15.11,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 14.68,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 10.74,
                              "nonCardCompulsoryAnticipationMdr": 10.74
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 3.22,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 3.22,
                              "productType": "PREPAID",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 0,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 0,
                              "productType": "VOUCHER",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 4,
                              "installmentTransactionFeeEnd": 4,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 8.22,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.96,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.15,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 9,
                              "installmentTransactionFeeEnd": 9,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 12.63,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.37,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 8.26,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 3,
                              "installmentTransactionFeeEnd": 3,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 7.39,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.96,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 3.32,
                              "nonCardCompulsoryAnticipationMdr": 3.32
                            },
                            {
                              "installmentTransactionFeeStart": 5,
                              "installmentTransactionFeeEnd": 5,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.05,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 8.62,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 4.98,
                              "nonCardCompulsoryAnticipationMdr": 4.98
                            },
                            {
                              "installmentTransactionFeeStart": 8,
                              "installmentTransactionFeeEnd": 8,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 11.8,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 11.37,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 7.43,
                              "nonCardCompulsoryAnticipationMdr": 7.43
                            },
                            {
                              "installmentTransactionFeeStart": 2,
                              "installmentTransactionFeeEnd": 2,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 6.56,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 6.13,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 2.49,
                              "nonCardCompulsoryAnticipationMdr": 2.49
                            },
                            {
                              "installmentTransactionFeeStart": 7,
                              "installmentTransactionFeeEnd": 7,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 10.98,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 10.55,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 6.61,
                              "nonCardCompulsoryAnticipationMdr": 6.61
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 1.69,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 1.69,
                              "productType": "DEBIT",
                              "cardCompulsoryAnticipationMdr": 0
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4.92,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4.49,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 1.7,
                              "nonCardCompulsoryAnticipationMdr": 1.7
                            },
                            {
                              "installmentTransactionFeeStart": 6,
                              "installmentTransactionFeeEnd": 6,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 9.88,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 9.45,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 5.81,
                              "nonCardCompulsoryAnticipationMdr": 5.81
                            },
                            {
                              "installmentTransactionFeeStart": 11,
                              "installmentTransactionFeeEnd": 11,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 14.28,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 13.85,
                              "productType": "CREDIT",
                              "cardCompulsoryAnticipationMdr": 9.91,
                              "nonCardCompulsoryAnticipationMdr": 9.91
                            }
                          ]
                        }
                      ]
                    },
                    "legalPerson": "JURIDICAL",
                    "openingDate": "2023-01-18",
                    "openingDays": "0111110",
                    "openingHour": "09:00",
                    "closingHour": "18:00",
                    "hasTef": false,
                    "hasPix": false,
                    "hasTop": false,
                    "has3ds": false,
                    "establishmentFormat": "LTDA",
                    "revenue": 35000
                  }
                },
                "Antecipação Eventual": {
                  "value": {
                    "name": "EC Antecipação Eventual",
                    "documentId": "78506632000119",
                    "corporateName": "EC Antecipação Eventual LTDA",
                    "email": "integration@example.com",
                    "areaCode": "11",
                    "number": "999999999",
                    "phoneType": "C",
                    "address": {
                      "streetAddress": "Avenida Tamboré",
                      "streetNumber": "267",
                      "complement": "Andar 22",
                      "neighborhood": "Alphaville",
                      "city": "BARUERI",
                      "state": "SP",
                      "country": "BR",
                      "zipCode": "06460-000"
                    },
                    "contacts": [
                      {
                        "name": "João da Silva",
                        "documentId": "22580321055",
                        "email": "user@example.com",
                        "areaCode": "11",
                        "number": "999999999",
                        "phoneType": "C",
                        "address": {
                          "streetAddress": "Avenida Tamboré",
                          "streetNumber": "267",
                          "complement": "Andar 22",
                          "neighborhood": "Alphaville",
                          "city": "BARUERI",
                          "state": "SP",
                          "country": "BR",
                          "zipCode": "06460-000"
                        },
                        "birthDate": "2005-03-04",
                        "mothersName": "Teste nome da Mãe",
                        "isPartnerContact": true,
                        "isPep": false,
                        "slugRole": "1E3F88516B0D45EEBA2A90AA178E0762"
                      }
                    ],
                    "timezone": "-0300",
                    "category": {
                      "mcc": "0763",
                      "cnae": "0111-3/01"
                    },
                    "legalNature": {
                      "code": "399-9"
                    },
                    "merchantBankAccount": {
                      "documentId": "78506632000119",
                      "corporateName": "EC Antecipação Eventual LTDA",
                      "legalPerson": "JURIDICAL",
                      "bankBranchNumber": "0001",
                      "bankBranchCheckDigit": "1",
                      "accountNumber": "12345",
                      "accountNumberCheckDigit": "6",
                      "accountType": "CHECKING",
                      "compeCode": "033"
                    },
                    "configuration": {
                      "url": "https://dock.tech/"
                    },
                    "merchantPrice": {
                      "name": "Tabela Teste Integração",
                      "tableType": "SIMPLE",
                      "anticipationType": "EVENTUAL",
                      "eventualAnticipationFee": 1.12,
                      "listMerchantPriceGroup": [
                        {
                          "brand": "ELO",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "HIPERCARD",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "MASTERCARD",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "VISA",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "AMEX",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "CABAL",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        }
                      ]
                    },
                    "legalPerson": "JURIDICAL",
                    "openingDate": "2023-01-18",
                    "openingDays": "0111110",
                    "openingHour": "09:00",
                    "closingHour": "18:00",
                    "hasTef": false,
                    "hasPix": false,
                    "hasTop": false,
                    "has3ds": false,
                    "establishmentFormat": "LTDA",
                    "revenue": 35000
                  }
                },
                "Sem Antecipação": {
                  "value": {
                    "name": "EC Sem Antecipação",
                    "documentId": "72292573000147",
                    "corporateName": "EC Sem Antecipação LTDA",
                    "email": "integration@example.com",
                    "areaCode": "11",
                    "number": "999999999",
                    "phoneType": "C",
                    "address": {
                      "streetAddress": "Avenida Tamboré",
                      "streetNumber": "267",
                      "complement": "Andar 22",
                      "neighborhood": "Alphaville",
                      "city": "BARUERI",
                      "state": "SP",
                      "country": "BR",
                      "zipCode": "06460-000"
                    },
                    "contacts": [
                      {
                        "name": "João da Silva",
                        "documentId": "22580321055",
                        "email": "user@example.com",
                        "areaCode": "11",
                        "number": "999999999",
                        "phoneType": "C",
                        "address": {
                          "streetAddress": "Avenida Tamboré",
                          "streetNumber": "267",
                          "complement": "Andar 22",
                          "neighborhood": "Alphaville",
                          "city": "BARUERI",
                          "state": "SP",
                          "country": "BR",
                          "zipCode": "06460-000"
                        },
                        "birthDate": "2005-03-04",
                        "mothersName": "Teste nome da Mãe",
                        "isPartnerContact": true,
                        "isPep": false,
                        "slugRole": "1E3F88516B0D45EEBA2A90AA178E0762"
                      }
                    ],
                    "timezone": "-0300",
                    "category": {
                      "mcc": "0763",
                      "cnae": "0111-3/01"
                    },
                    "legalNature": {
                      "code": "399-9"
                    },
                    "merchantBankAccount": {
                      "documentId": "72292573000147",
                      "corporateName": "EC Sem Antecipação LTDA",
                      "legalPerson": "JURIDICAL",
                      "bankBranchNumber": "0001",
                      "bankBranchCheckDigit": "1",
                      "accountNumber": "12345",
                      "accountNumberCheckDigit": "6",
                      "accountType": "CHECKING",
                      "compeCode": "033"
                    },
                    "configuration": {
                      "url": "https://dock.tech/"
                    },
                    "merchantPrice": {
                      "name": "Tabela Teste Integração",
                      "tableType": "SIMPLE",
                      "anticipationType": "NONE",
                      "listMerchantPriceGroup": [
                        {
                          "brand": "ELO",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "HIPERCARD",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "MASTERCARD",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "VISA",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "AMEX",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        },
                        {
                          "brand": "CABAL",
                          "groupId": 0,
                          "listMerchantTransactionPrice": [
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 12,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "CREDIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "DEBIT"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "PREPAID"
                            },
                            {
                              "installmentTransactionFeeStart": 1,
                              "installmentTransactionFeeEnd": 1,
                              "cardTransactionFee": 0,
                              "cardTransactionMdr": 4,
                              "nonCardTransactionFee": 0,
                              "nonCardTransactionMdr": 4,
                              "productType": "VOUCHER"
                            }
                          ]
                        }
                      ]
                    },
                    "legalPerson": "JURIDICAL",
                    "openingDate": "2023-01-18",
                    "openingDays": "0111110",
                    "openingHour": "09:00",
                    "closingHour": "18:00",
                    "hasTef": false,
                    "hasPix": false,
                    "hasTop": false,
                    "has3ds": false,
                    "establishmentFormat": "LTDA",
                    "revenue": 35000
                  }
                },
                "Estabelecimento Filial": {
                  "value": {
                    "name": "EC Com Matriz",
                    "documentId": "34832865000136",
                    "corporateName": "EC Com Matriz LTDA",
                    "email": "integration@example.com",
                    "areaCode": "11",
                    "number": "999999999",
[...]
